body {
  text-align: center;
}

div .row {
  margin-top: 20px;
}

input[type="text"] {
  border-radius: 50px 0px 0px 50px;
  border-style: none;
  color: black;
  background-color: #cfd4d5;
  height: 25px;
}

button[type="submit"] {
  height: 25px;
  width: 50px;
  background: Black;
  color: white;
  border: 0;
  -webkit-appearance: none;
  border-radius: 0px 50px 50px 0px;
}

button[type="phone"] {
  background: orange;
  color: white;
  height: 40px;
  width: 80px;
}

.title {
  border-left: 3px solid orange;
  text-align: left;
  padding: 10px;
}



.card {
  border: 1px solid black;
  
}

div.btn-group {
  text-align: left;
  border: 3px solid #73AD21;
}

.container {
  border: 3px solid #73AD21;
  margin: auto;
}

.card-columns {
  display: ;
  column-break-inside: avoid;
}

#searchbar {
  height: 25px;
}
