.container-fluid, .navbar-default {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 600px;
  width: 80%;
}

.row {
  position: relative;
}

.btn-default, .panel-default {
  border-radius: 0;
}




        /* NAVBAR */



.navbar-default .navbar-nav > li > a {
  color: white;
}

.dropdown-menu > li > a:hover {
  text-decoration: underline;
  background-color: #2F2D2D;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  background-color: transparent;
}

.dropdown-menu {
  min-width: 120px;
  border: 0;
}

.navbar-nav > li, .dropdown-menu > li > a {
  margin: 0 1px 1px 1px;
  width: 100%;
  height: 50px;

  background-color: #F07D0C;
  color: white !important;
}

.empty-lg {
  width: 200px;
  height: 50px;
}
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

   .container {
    width: 100%;
    margin-top: 250px;
   }

   .panel-default, .panel-footer {
    max-width: 300px;
   }
}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }

  .panel-default {
    max-width: 170px;
   }

  .panel-footer {
    max-width: 167px;
  }

}  



        /* SIDEBAR */



#mySidenav a {
position: relative;
left: -80px;

padding: 15px;
width: 120px;
border-radius: 0 8px 8px 0;

transition: 0.3s;

text-decoration: none;
font-size: 20px;
color: white;

}

#mySidenav a:hover {
left: 0;
}

#mySidenav {
  position: fixed;
  top: 300px; left:0;
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 9000;
}

#about {
/* top: 20px; */
background-color: #4CAF50;
}

#blog {
/* top: 80px; */
background-color: #2196F3;
}

#projects {
/* top: 140px; */
background-color: #f44336;
}

#contact {
/* top: 200px; */
background-color: #555
}


/* MOVIES */

.movies-container {
  position: relative;
  margin-top: 30px;
}

.movies-container > h4 {
  border-left: 4px solid #F07D0C;
  padding-left: 15px;
  display: inline-block;
}

.movies {
  width: 90% !important;
  margin: 20px auto 0 auto;

  
}

.panel-default {
  display: inline-block;
  margin-top: 15px;
}

.panel-footer {
  padding-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-footer p {
  margin: 0;
}

.panel-footer span {
  text-align: right;
}

#more-featured-movies, #more-featured-series {
  display: none;
}

.toggle-movies button {
  background-color: #F07D0C;
  color: white;
  border: 0;
}



          /* SHOP MOVIES */



tr :first-child {
  min-width: 150px;
}

#shop-trailer, #shop-description {
  padding: 0;
}

#shop-description {
  padding-left: 10px;
  height: 400px;
  background-color: #F07D0C;

  font-size: 1.25em;
  color: white;
}

#shop-description h4 {
  margin-top: 60px;
}

table {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


#shop-description h4, #shop-description table tr td:first-child {
  color: #2F2D2D;
  font-weight: bold;
}

.embed-responsive {
  height: 400px;
}

#shop-posters {
  width: 95%;
  margin: 0 auto;
}
